.transparent {
    background: transparent;
}

hr {
    border-top: 1px solid #999;
    margin-top: 40px;
}

pre p {
    color: #ff0000;
}

code[class*="language-"] {
    font-size: 16px;
    line-height: 2;
}