.dark-bg {
    /*
    background: transparent;
    */
    background-color: #272822;
}

a {
    font-size: 16px;
}

hr {
    border-top: 1px solid #999;
    margin-top: 40px;
}

/*pre[class*="language-"] {
    white-space: pre-line;
}*/

pre p {
    color: #ff0000;
}

pre.line-numbers {
    padding-left: 0;
}

code[class*="language-"] {
    font-size: 16px;
    line-height: 2;
}

.left-align {
    float: left;
}

.right-align {
    float: right;
}

.clear {
    clear: both;
}

span.line-numbers-rows {
    left: 20px !important;
    width: 30px !important;
}

code {
    left: -150px;
}